<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">About Us</h5>
    <p class="card-text">
        lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>